DJANGO_DEBUG=True
SECRET_KEY=change-me
DATABASE_URL=
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
DJANGO_SETTINGS_MODULE=config.settings.development
WHATSAPP_DEFAULT_COUNTRY_CODE=549
TALLER_NOMBRE=
DEFAULT_FROM_EMAIL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=MotoService <onboarding@resend.dev>
PASSWORD_RESET_TIMEOUT=86400
